.BigContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  .bigImage {
    width: 810px;
    height: 507px;
    flex-shrink: 0;
  }
  .info {
    color: #000;
    font-family: Kaushan Script;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 852px;
  }
}
.bigContainer {
  position: relative;
}
.sideInfo {
  display: flex;
  flex-direction: column;
  .profile {
    max-width: 50px;
    position: absolute;
    top: 0%;
    left: 100%;
  }
  .likee {
    max-width: 50px;
    position: absolute;
    top: 10%;
    left: 101%;
  }
  .like {
    max-width: 50px;
    position: absolute;
    top: 18%;
    left: 101.1%;
  }
}
