* {
  box-sizing: border-box;
}

.MoreInfoDad {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  position: relative;
  min-height: 100vh;
}

.leftSideDetails {
  position: absolute;
  transform: translateX(-50%);
  background-color: transparent;
  top: 100%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 40px;

  span {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 10px;

    .LeftSideDetails-Icon {
      font-size: 20px;
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #ddd;
      border-radius: 50%;
      background-color: white;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
      transition: all 0.3s ease;
      .LeftSideDetails-Icon-Inside {
        color: #000000;
        font-size: 34px;
        transition: all 0.3s ease;
      }
      &:hover {
        // background: linear-gradient(
        //   45deg,
        //   #fc9a44,
        //   #fccc9f
        // ); // Updated gradient with #fc9a44
        color: white;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
        transform: translateY(-3px);
      }
    }

    p {
      font-size: 12px;
      color: #555;
      margin-top: 8px;

      &:hover {
        color: #000;
      }
    }

    &:active .LeftSideDetails-Icon {
      transform: translateY(0);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    }
  }
}

.TopInfo2 {
  position: fixed;
  top: 300px;
  right: 10%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 10;
}
.detail-icon-flex {
  // background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 10px;

  .iconContainer {
    font-size: 20px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;

    // .Icon {
    //   font-size: 24px;
    //   color: #ccc;
    //   transition: all 0.3s ease;
    // }

    // .Icon2 {
    //   font-size: 24px;
    //   // fill: #ccc;
    //   // fill: rgb(255, 0, 0);
    //   // background-color: red;
    //   color: #fc9a44;
    //   transition: all 0.3s ease;
    // }
  }

  p {
    font-size: 12px;
    color: #555;
    margin-top: 8px;
  }

  &:hover {
    .iconContainer {
      border-color: #bbb;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
      transform: translateY(-3px);
    }
    .saved2 {
      fill: #ccc; // Updated to #fc9a44 for like icon hover
    }

    .saved {
      fill: #fc9a44; // Updated to #fc9a44 for like icon hover
    }

    .like {
      fill: #fc9a44;
    }
    .like2 {
      fill: #ccc;
    }

    p {
      color: #000;
    }
  }

  &:active .iconContainer {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  }
}
.saved {
  color: #ccc;
  font-size: 24px;
  transition: all 0.3s ease;
}

.saved2 {
  font-size: 24px;
  color: #fc9a44; // Updated to #fc9a44 for active like icon
  transition: all 0.3s ease;
}
.like {
  color: #ccc;
  font-size: 24px;
  transition: all 0.3s ease;
}
.like2 {
  font-size: 24px;
  color: #fc9a44; // Updated to #fc9a44 for active like icon
  transition: all 0.3s ease;
}

.MoreInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  padding: 0 20px;

  .bigImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .bigImage {
      max-width: 80%;
      height: auto;
      margin-top: 20px;
      border-radius: 8px;
    }
  }

  .desMore {
    width: 80%;
    max-width: 800px;
    font-size: 1.5rem;
    font-weight: 100;
    color: #434343;
    margin-top: 100px;
    line-height: 1.6;

    @media (max-width: 1200px) {
      width: 90%;
      font-size: 1.2rem;
    }
  }
}

.TopInfo {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 1200px;
  margin-bottom: 20px;

  .TopInfo1 {
    display: flex;
    align-items: center;
    gap: 20px;

    .profile2 {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-fit: cover;
    }

    .TopInfo3 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      p {
        font-weight: bold;
        margin: 0;

        &:first-child {
          font-size: 1.2rem;
        }
      }
      span {
        p {
          font-size: 0.9rem;
          font-weight: 300;
          color: #555;
        }
      }

      button {
        margin-left: 10px;
        // margin-top: 10px;
        border: none;
        background-color: transparent;
        color: #fc9a44; // Updated to #fc9a44 for follow button
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          transform: scale(1.1);
        }

        &:active {
          transform: scale(0.95);
        }
      }
    }
  }
}

.Loader {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  .loader {
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid;
    border-color: #514b82 transparent;
    animation: l20-1 0.8s infinite linear alternate, l20-2 1.6s infinite linear;
  }
}

// @keyframes l20-1 {
//   0% {
//     clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
//   }
//   12.5% {
//     clip-path: polygon(
//       50% 50%,
//       0 0,
//       50% 0%,
//       100% 0%,
//       100% 0%,
//       100% 0%,
//       100% 0%
//     );
//   }
//   25% {
//     clip-path: polygon(
//       50% 50%,
//       0 0,
//       50% 0%,
//       100% 0%,
//       100% 100%,
//       100% 100%,
//       100% 100%
//     );
//   }
//   50% {
//     clip-path: polygon(
//       50% 50%,
//       0 0,
//       50% 0%,
//       100% 0%,
//       100% 100%,
//       50% 100%,
//       0% 100%
//     );
//   }
//   62.5% {
//     clip-path: polygon(
//       50% 50%,
//       100% 0,
//       100% 0%,
//       100% 0%,
//       100% 100%,
//       50% 100%,
//       0% 100%
//     );
//   }
//   75% {
//     clip-path: polygon(
//       50% 50%,
//       100% 100%,
//       100% 100%,
//       100% 100%,
//       100% 100%,
//       50% 100%,
//       0% 100%
//     );
//   }
//   100% {
//     clip-path: polygon(
//       50% 50%,
//       50% 100%,
//       50% 100%,
//       50% 100%,
//       50% 100%,
//       50% 100%,
//       0% 100%
//     );
//   }
// }

// @keyframes l20-2 {
//   0% {
//     transform: scaleY(1) rotate(0deg);
//   }
//   49.99% {
//     transform: scaleY(1) rotate(135deg);
//   }
//   50% {
//     transform: scaleY(-1) rotate(0deg);
//   }
//   100% {
//     transform: scaleY(-1) rotate(-135deg);
//   }
// }

body.active-modal {
  overflow-y: hidden;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px 30px;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);

  h1 {
    font-size: 1.2rem;
    font-weight: 900;
    margin-bottom: 10px;
  }

  textarea,
  input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;

    &:focus {
      border-color: #fc9a44; // Updated to #fc9a44 for input focus
      box-shadow: 0 0 5px rgba(252, 154, 68, 0.3); // Updated shadow with #fc9a44
    }
  }

  input {
    padding-left: 25px;
  }
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #555;

  &:hover {
    color: #000;
  }
}

.connect {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  img {
    width: 4rem;
    border-radius: 50%;
  }

  p {
    margin-left: 10px;
    font-weight: 800;
  }
}

.Rupeecontainer {
  position: relative;

  .Rupee {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #555;
  }
}

.btnSend {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rebeccapurple;
  font-weight: bold;
}

.btn5 {
  padding: 10px 20px;
  border: 1px solid #333;
  border-radius: 8px;
  background-color: #333;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(1);
  }
}

@media (max-width: 1200px) {
  .MoreInfoContainer {
    margin-top: 40px;
  }
}
@media (max-width: 1100px) {
  .MoreInfoContainer {
    .bigImage {
      position: relative;
    }
    .bigImage {
      max-width: 70%;
    }
    .desMore {
      width: 70%;
      font-size: 1rem;
    }
  }
  .TopInfo {
    margin-bottom: 0;
    width: 80%;
    .TopInfo1 {
      .profile2 {
        width: 35px;
        height: 35px;
      }
      .TopInfo3 {
        margin-top: 10px;
        p {
          &:first-child {
            font-size: 0.8rem;
          }
          &:nth-child(2) {
            font-size: 0.7rem;
          }
        }
        button {
          // margin-top: 5px;
          font-size: 0.7rem;
        }
      }
    }
  }
  .TopInfo2 {
    display: none;
  }
  .leftSideDetails {
    position: absolute;
    transform: translateX(-50%);
    background-color: transparent;
    top: 100%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: calc(100% - 99%);

    span {
      .LeftSideDetails-Icon {
        font-size: 28px;
        width: 40px;
        height: 40px;
      }
    }
  }

  .detail-icon-flex {
    .iconContainer {
      font-size: 18px;
      width: 40px;
      height: 40px;
    }
  }
}

@media (max-width: 600px) {
  .TopInfo {
    .TopInfo1 {
      .profile2 {
        width: 25px;
        height: 25px;
      }
      .TopInfo3 {
        // position: relative;
        p {
          &:first-child {
            font-size: 0.7rem;
          }
          &:nth-child(2) {
            font-size: 0.6rem;
          }
        }
        .TopInfo3-span {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        button {
          font-size: 0.6rem;
        }
      }
    }
  }
  .MoreInfoContainer {
    .bigImageContainer {
      .bigImage {
        margin-top: 1px;
      }
    }
    .desMore {
      width: 70%;
      font-size: 0.7rem;
    }
  }
  .leftSideDetails {
    gap: calc(100% - 79%);
    span {
      font-size: 20px;
      width: 25px;
      height: 25px;
      p {
        font-size: 0.5rem;
      }
    }
  }
  .detail-icon-flex {
    .iconContainer {
      // font-size: 18px;
      width: 25px;
      height: 25px;
    }
  }
}
// @media (min-width: 481px) and (max-width: 767px) {
//   .MoreInfoContainer {
//     .bigImage {
//       max-width: 70%;
//     }
//     .desMore {
//       width: 70%;
//       font-size: 1rem;
//     }
//   }
// }
