.EContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* Added to center the text vertically */
  text-align: center; /* Added for horizontal centering */
  color: #000;
  font-family: "Kaushan Script";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 800px;
  margin: 0 auto; /* Center the container horizontally */
  padding: 20px; /* Added for spacing */

  button {
    margin-top: 40px;
    color: #000;
    font-family: "Kaushan Script";
    font-size: 28px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    width: 412px;
    height: 78px;
    flex-shrink: 0;
    border-radius: 30px;
    background: rgba(251, 133, 0, 0.83);
    transition: 0.6s;
  }
  button:hover {
    color: #ffffff;
    background: rgba(251, 133, 0, 0.83);
    transform: scale(1.1);
  }
}
