* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.gradient {
  background: linear-gradient(rgba(252, 255, 255, 1), transparent);
  // right: 0;
  top: -50px;
  right: -100px;
  width: 500px;
  height: 500px;
  // background: radial-gradient(circle at center, #fb9a44 0%, transparent 70%);
  position: absolute;
  border-radius: 50%;
  opacity: 0.3;
  z-index: 0;
  pointer-events: none;
  z-index: 99;
  // height: 100vh;
  // width: 100vw;
}
.Homecontainer {
  overflow: hidden;
  // background-color: #e0e0e0;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  background-size: cover;
  height: 80vh;
  width: 100vw;
  position: relative;
  z-index: 9;
}

.HomeContent {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // position: absolute;
  // top: 25%;
  // margin-top: 100px;
  padding-top: 100px;
  align-items: center;
  justify-content: center;
  left: 10%;
  // transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  // align-items: flex-start;
  // justify-content: center;
  text-align: left;
  max-width: 100%;
  // max-width: 800px;
  z-index: 10;
}
.HomeP,
.HomeP2,
.NavSearchBar,
.homebuttonContainer {
  z-index: 10; /* Ensure all content is above waves */
}

.HomeP {
  background-color: transparent;
  z-index: 2;
  color: #000000;
  // margin-left: -10px;
  font-size: 80px;
  font-weight: 500;
  letter-spacing: 10px;
  display: block;
  color: #000000;
  margin: 0;
  padding: 0;
  // font-family: "Satisfy";
  // font-family: "Nunito", sans-serif;
  font-family: "Poppins", sans-serif;

  span {
    background-color: transparent;
    margin: 0;
    padding: 0;
    color: #f96c00;
    margin-left: -20px;
  }
}

.HomeP2 {
  background-color: transparent !important;
  z-index: 2;
  height: 120px;
  display: flex;
  // vertical-align: middle;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.TypewriterLine {
  background-color: transparent !important;
  color: #343a40;
  font-size: 40px;
  font-weight: 200;
  line-height: 1.2;
  display: inline;
  text-align: left;
  white-space: nowrap;
  // justify-content: flex-start;
}
.transperent {
  background-color: transparent;
  display: inline;
}
.TypewriterLine2 {
  // background-color: transparent;
  width: auto;
  text-align: left;
  display: inline;
  white-space: nowrap;
  // margin-left: -115px;
}

.highlighter {
  color: #e07b30;
}

.NavSearchBar {
  // margin-top: 20px;
  position: relative;
  // width: 100%;
  width: 740px;
  max-width: 800px;
  display: flex;
  align-items: center;
  z-index: 2;
  button {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    box-shadow: none;
    cursor: pointer;
  }
  input {
    border: 1.5px solid rgb(110, 110, 110);
    width: 100%;
    height: 60px;
    border-radius: 10px;
    font-size: 15px;
    letter-spacing: 1px;
    padding-left: 15px;
    padding-right: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    outline: none;
  }

  input:focus {
    border-color: #e07b30;
  }

  .img {
    background-color: transparent;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
  }
}

.searchResultContainer {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-width: 900px;
  max-height: 300px;
  overflow-y: auto;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 10px 10px;
  z-index: 1300;
  text-align: left;
}

.searchbruh {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #eee;
  width: 100%;
  transition: background-color 0.3s ease;
}

.searchbruh:hover {
  background-color: #e0e0e0;
}

.searchbruh p {
  padding: 15px 20px;
  font-size: 16px;
  color: #343a40;
  background-color: transparent;
  width: 100%;
  margin: 0;
  cursor: pointer;
}

.homebuttonContainer {
  position: absolute;
  bottom: 100px;
  right: 70px;
  z-index: 10;
  background-color: transparent;
}
.HomeButton {
  // position: absolute;
  // display: flex;
  // justify-content: flex-end;
  // right: 0;
  // bottom: 10%;
  color: #ffffff;
  background: #f96c00;
  font-size: 20px;
  font-weight: 100;
  width: 100%;
  margin: 0 auto;
  // max-width: 412px;
  padding: 10px;
  height: 58px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.HomeButton:hover {
  background: #e07b30;
  transform: scale(1.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
@media (max-width: 828px) {
  .NavSearchBar {
    width: 500px;
  }
  .TypewriterLine {
    font-size: 35px;
  }
}

@media (max-width: 768px) {
  .HomeContent {
    top: 10%;
  }
  .NavSearchBar {
    max-width: 600px;
  }
  .HomeP {
    font-size: 60px;
    letter-spacing: 15px;
  }

  .TypewriterLine {
    font-size: 30px;
  }

  .TypewriterLine .Typewriter__cursor {
    font-size: 30px;
  }

  .NavSearchBar input {
    height: 50px;
    font-size: 14px;
  }

  .searchResultContainer {
    max-width: 100%;
  }

  .HomeButton {
    max-width: 300px;
    height: 50px;
    font-size: 18px;
  }
}
@media (max-width: 617px) {
  .HomeContent {
    top: 17%;
  }
  .HomeP {
    font-size: 40px;
    letter-spacing: 12px;
  }
  .TypewriterLine {
    font-size: 22px;
  }
  .NavSearchBar input {
    height: 30px;
    font-size: 12px;
  }
  .NavSearchBar {
    // margin-top: -40px;
    max-width: 400px;
    .img {
      width: 20px;
      height: 20px;
    }
  }
  .HomeP2 {
    height: 80px;
  }
  .homebuttonContainer {
    right: 0;
  }
  .HomeButton {
    display: inline-block;
    // bottom: 30%;
    // right: 0;
    min-width: 100vw;
    bottom: 23%;
    // left: 10%;
    // right: 10%;
    // display: none;
    // right: 10%;
  }
}
@media (max-width: 407px) {
  .TypewriterLine {
    font-size: 20px;
    display: inline;
  }
  .HomeP2 {
    // height: 10px;
  }
}
@media (max-width: 454px) {
  .TypewriterLine {
    font-size: 18px;
    display: inline;
  }
  .NavSearchBar {
    width: 100%;
  }
}
@media (max-width: 373px) {
  .TypewriterLine {
    font-size: 16px;
    display: inline;
  }
}
@media (max-width: 330px) {
  .TypewriterLine {
    font-size: 14px;
    display: inline;
  }
}
@media (max-height: 850px) {
  .HomeContent {
    padding-top: 50px;
  }
  // .HomeP {
  //   font-size: 60px;
  // }
  // .TypewriterLine {
  //   font-size: 30px;
  // }

  // .HomeP2 {
  //   height: 80px;
  // }
  // .NavSearchBar {
  //   width: 554px;
  //   input {
  //     height: 40px;
  //   }
  //   .img {
  //     width: 20px;
  //     height: 20px;
  //   }
  // }
}
@media (max-height: 700px) {
  .homebuttonContainer {
    bottom: 1;
  }
  .HomeButton {
    font-size: 17px;
    height: 40px;
  }
  .HomeP {
    font-size: 40px;
    letter-spacing: 12px;
  }
  .TypewriterLine {
    font-size: 22px;
  }
  .NavSearchBar input {
    height: 30px;
    font-size: 12px;
  }
  .NavSearchBar {
    // margin-top: -40px;
    max-width: 400px;
    .img {
      width: 20px;
      height: 20px;
    }
  }
  .HomeP2 {
    height: 80px;
  }
  .HomeButton {
    display: inline-block;
    // bottom: 30%;
    // right: 0;
    max-width: 80%;
    bottom: 23%;
    left: 10%;
    right: 10%;
    // display: none;
    // right: 10%;
  }
}

@media (max-width: 1100px) {
  .top-wave {
    max-width: 200px;
  }
}
@media (max-width: 550px) {
  .top-wave {
    max-width: 100px;
  }
}

.top-wave {
  position: absolute;
  top: 0;

  right: 0;
  // min-width: 1800px; /* or % if it's responsive */
  // height: 500px;
  z-index: 1;
  pointer-events: none;
}
.bottom-wave {
  position: absolute;
  bottom: 0%;
  z-index: 1;
  pointer-events: none;
  width: 100vw;
}
